.Projects {
    background-color: rgb(231, 231, 231);
}

.Projects>div {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.Projects>h3 {
    color: #e84949;
    font-size: 90px;
    text-align: center;
    padding-top: 30px;
}

.singleProject {
    width: 90%;
    height: 550px;
    background-size: cover;
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
}

.projectLeft {
    margin-left: 10%;
}

.projectRight {
    margin-right: 10%;
}

.singleProject::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1f1f1f9a;
    z-index: 0;
    /* transform: scaleX(1); */
}

.singleProject::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index: 1;
}

.singleProject:hover::before {
    transform: scaleX(1);
}

.number {
    position: absolute;
    font-size: 200px;
    font-weight: 600;
    color: white;
    z-index: 10;
    /* display:none; */
    opacity: 0;
}

.singleProject:hover .number {
    /* display:block; */
    opacity: 1;
}

.numberRight {
    right: -40px;
    top: -45px;
}

.numberLeft {
    left: -40px;
    top: -45px;
}

.card {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2em;
    bottom: 20%;
    z-index: 5;
    gap: 1em;
    transition: all 0.4s;
}


.cardLeft {
    right: 10%;
    align-items: flex-end;
}

.cardRight {
    left: 10%;
}

.cardLeft>div {
    justify-content: flex-end;
}

.skills {
    width: 60%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

}

.skills>img {
    width: 40px;
}

.heading {
    color: white;
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}

.description {
    width: 70%;
    font-size: 16px;
    font-style: italic;
}


.buttons {
    display: flex;
    gap: 0.9rem;
    align-items: center;
}

.cardLeft>div:nth-child(4){
    flex-direction:row-reverse;
}

.buttons>button:hover {
    border: none;
}

.buttons>button {
    background-color: #e84949;
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
}

.buttons>button::before {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
}

.buttons>button:hover::before {
    transform: scaleX(1);
}

.buttons>button:hover {
    border: solid 3px #e84949;
    color: black;
}

.icon {
    cursor: pointer;
    color: white;
    font-size: 35px;
    transition: all 0.4s;
}

.icon:hover {
    color: #e84949;
}

.singleProject:hover .card {
    transform: scale(1.1);
}

.ProjectModal{
    background-color: blanchedalmond;
    z-index: 18;
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    filter: drop-shadow(2px 4px 6px black);
    border-radius: 8px;
}

.cross{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.75rem;
    cursor: pointer;
    transition: all 200ms;
}

.cross:hover{
    font-size: 2rem;
    color:#e84949;
}

.ProjectModal{
    display: flex;
}

.ProjectModal>div:nth-child(1){
    width: 70%;
}

.ProjectModal>div:nth-child(2){
    width: 30%;
}

.image{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 1rem;
}

.mainImage>img{
    max-width:85%;
    max-height: 90%;
    object-fit: contain;
    border-radius: 1rem;
}


.mainImage{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: radial-gradient(#1f1f1f00, #1f1f1f);
}

.thumbnailImage{
    width: 100%;
    height: 20%;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
}

.arrows{
    padding: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #343d68;
    color: #ffffff;
    cursor: pointer;
}

.arrows:hover{
    background-color: #e84949;
}

.thumbnail{
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    overflow-x: scroll;
    padding: 0.8rem;
    position: relative;
    flex-grow: 1;
}

.thumbnail>img{
    border-radius: 0.8rem;
    height: 100%;
}

.mainImage>div{
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    cursor: pointer;
    transition: all 200ms;
}

.mainImage>div:hover{
    font-size: 2rem;
    color: white;
}

.left{
    left: 0;
}

.right{
    right: 0;
}

.selected{
    filter: brightness(0.3);
}

.thumbnail::-webkit-scrollbar {
    display: none;
}

.information{
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.information>div>h1{
    font-size: 2rem;
    font-weight: 800;
}

.information>div>h2{
    font-size: 1rem;
    font-weight: 500;
}

.information>div>h3{
    font-size: 1.25rem;
    font-weight: 700;
}

.information>div{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.features{
    margin-left: 1.5rem;
}

.tech{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.tech>div{
    border-radius: 100px;
    color:#ffffff;
    font-weight: 500;
    font-size: 0.875rem;
    padding: 0.6em 0.8rem;
    background-color: #e84949;
    transition: all 200ms;
    cursor: pointer;
}

.tech>div:hover{
    background-color: #343d68;
}

.links{
    display:flex;
    gap: 1rem;
}

.links>svg{    
    cursor: pointer;
    font-size: 35px;
    transition: all 200ms;
    color: #e84949;
}

.links>svg:hover{
    color: #343d68;
}

@media (max-width: 1280px) {
    .Projects>div {
        padding: 5px;
        margin: 10px;
        gap: 60px;
    }

    .Projects>h3 {
        font-size: 40px;
    }

    .singleProject {
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center;
    }

    .projectLeft {
        margin-left: 0%;
    }

    .projectRight {
        margin-right: 0%;
    }

    .number {
        display: none;
    }

    .card {
        width: 100%;
        scale: 0.6;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
    }


    .cardLeft {
        right: 10%;
        align-items: flex-start;
    }

    .cardRight {
        right: 10%;
    }

    .cardLeft>div {
        justify-content: flex-start;
    }

    .skills {
        width: 100%;

    }

    .skills>img {
        width: 35px;
    }

    .heading {

        font-size: 40px;
        width: 100%;
    }

    .description {
        width: 100%;
    }

    .cardLeft>div:nth-child(4){
        flex-direction:row;
    }
    
}