/* body {
  padding: 0px 20px 0px 20px;
} */

.techStack {
  /* max-width: 1200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
}

h2 {
  color: #e84949;
  font-size: 3rem;
}

.description > h2 > span {
  font-size: 6rem;
}

.description > p {
  padding: 10px 0 10px 0;
  max-width: 60%;
}

.skillImg:hover {
  transform: scale(130%);
  /* transition-duration:200ms; */
  /* transitio */
}

.skillImg {
  width: 90px;
  transition: all 0.5s;
}

.skills {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-rows: repeat(4, 120px);
  grid-template-columns: repeat(5, 120px); */
  place-items: center;
}

.skillBlob {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -5;
  transform: translate(-50%, -50%);
  animation: blobAnimate 4s linear infinite;
}

@keyframes blobAnimate {
  50% {
    top: 54%;
    left: 46%;
  }
}

@media screen and (max-width: 768px) {
  .techStack{
    flex-direction: column;
    width: 100%;
    padding: 2rem;
  }
  .description>p{
    text-align: end;
    width: 100%;
    max-width: 100%;
    padding-left: 20%;
  }
  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    /* display: grid;
    place-items: center; */
    /* row-gap: 2rem; */
    transform: scale(0.6);
  }
}
