.Navbar{
    padding: 1rem 50px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Name{
    display: flex;
    gap: 1rem;
}

.Name>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.Name>div>img{
    height: 2.5rem;
}

.Name>div>p{
    font-size: 1.5rem;
}

.Nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2.5rem
}

.Nav>a{
    cursor: pointer;
}

.Nav>a:hover{
    transition: 250ms;
    font-weight: 700;
}

.NavOverlay{
    position: relative;
}

.NavOverlay>div{
    filter: drop-shadow(-5px 0px 20px black);
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 2rem 5rem 2rem 2rem;
    background-color: #e84949;
    display: flex;
    z-index: 15;
    flex-direction: column;
    gap: 3rem;
    transition: all ease-in-out 200ms;
}

.NavOverlay>div>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    gap: 2rem;
}

.NavOverlay>div>div>p{
    margin: 0;
}
.NavOverlay>div>div{
    color: white;
    font-weight: 500;
}

.NavOverlay>div>a{
    color: white;
    font-weight: 500;
}

@media (min-width: 768px) {
    .NavOverlay{
        display: None;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .Nav{
        display: None;
    }
}

@media (max-width: 480px){
    .Nav{
        display: None;
    }
    .Name>div>p{
        display: None;
    }
    .Name{
        gap: 0px;
    }
}

