.contactUs {
    margin: auto;
    padding: 0 6rem;
    width: 100%;
    font-weight: 200;
    background-color: rgb(231, 231, 231);
}

.contactUs>h1 {
    font-size: 5em;
    color: #e84949;
    padding-top: 2rem;
}

.contactUs>p {
    font-size: 3rem;
    color: #343d68aa;
    text-transform: capitalize;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.form>form {
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 70%;
    margin: 0 auto;
    padding: 2rem 0;
}

.form>form>input {
    width: 100%;
    height: 42px;
    padding: 0 2rem;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #1f1f1f;
    font-weight: 500;
    border: none;
}

.form>form>input:focus{
    outline: none;
}
.form>form>textarea:focus{
    outline: none;
}

.form>form>textarea {
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #1f1f1f;
    font-weight: 500;
    border: none;
    height: auto;
    padding: 0 2rem;
    padding-top: 1rem;
}

.form>form>button {
    margin-top: 5px;
    background-color: #e84949;
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
}

.form>form>button::before {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
}

.form>form>button:hover::before {
    transform: scaleX(1);
}

.form>form>button:hover {
    border: solid 3px #e84949;
    color: black;
}

.thanks {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: #343d68aa;
}

.thanks>svg {
    font-size: 5rem;
}

.thanks>h1 {
    font-size: 3rem;
    text-transform: capitalize;
}

.thanks>h3 {
    font-size: 1.5rem;
}

.thanks>p {
    font-size: 1rem;
    font-weight: 700;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}

.loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid  #e84949;
    animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }
}

@media (max-width: 768px) {
    .contactUs {
        padding: 0 2rem;
    }

    .contactUs>h1 {
        font-size: 2.5em;
    }

    .contactUs>p {
        font-size: 1.25rem;
    }

    .form>form {
        width: 100%;
        margin: 0 auto;
        padding: 2rem 0;
    }

    .form>form>button {
        margin: auto;
        margin-top: 5px;
    }

    .thanks>svg {
        font-size: 3rem;
    }
    
    .thanks>h1 {
        font-size: 1.5rem;
    }
    
    .thanks>h3 {
        font-size: 0.85rem;
    }
    
    .thanks>p {
        font-size: 0.85rem;
    }
}