.Footer {
    position: relative;
    margin-top: -1px;
    background-color: #343d68;
    padding: 6rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.name {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #535c87;
    user-select: none;
    font-size: 5em;
}

.link {
    display: flex;
    gap: 1.2rem;
}

.link>a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: all 0.6s;
}

.link>a:hover {
    color: #e84949;
}


.icons {
    display: flex;
    gap: 1rem;
}

.icons>svg {
    cursor: pointer;
    color: white;
    font-size: 35px;
    transition: all 0.4s;
}

.icons>svg:hover {
    color: #e84949;
}

@media (max-width: 768px) {
    .Footer {
        align-items: flex-start;
        gap: 3rem;
        padding: 5rem;
    }

    .name {
        font-size: 3em;
    }

    .link{
        flex-direction: column;
    }

    .icons{
        flex-wrap: wrap;
    }

    .icons>svg{
        font-size: 1.5rem;
    }
}